# Gradle
.gradle/
gradle/
build/
out/
classes/

# Eclipse
.metadata
.eclipse/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
.classpath
.project
runClient.launch
runData.launch
runGameTestServer.launch
runServer.launch

# Minecraft
run/
run-data/
logs/
crash-reports/